*{
  color: white;
}
body{
  background: url("cat.gif") no-repeat;
  background-size: cover;
  background-position: top;
  background-color: rgba(23, 19, 218, 0.78);
  margin: 5%;
}
h1{
  margin: 5% 0 2% 35%;
  font-size: 4em;
  font-weight: bold;
  border-bottom: 2px solid blue;
}

h2{
  font-size: 2.5em;
}

h5{
  margin: 20% 0 0 40%;

}

h2, span{
  margin: 2% 0 2% 35%;

}
section{
  width:50%;
  margin-left: 30%;
}
span{
  color:red;
  font-weight: bold;
  font-size: 2em;
}
